In [51]:
import pandas as pd
from IPython.display import display
display(df)

     sepal length  sepal width  petal length     petal width
5.1           3.5          1.4           0.2     Iris-setosa
4.9           3.0          1.4           0.2     Iris-setosa
4.7           3.2          1.3           0.2     Iris-setosa
4.6           3.1          1.5           0.2     Iris-setosa
5.0           3.6          1.4           0.2     Iris-setosa
..            ...          ...           ...             ...
6.7           3.0          5.2           2.3  Iris-virginica
6.3           2.5          5.0           1.9  Iris-virginica
6.5           3.0          5.2           2.0  Iris-virginica
6.2           3.4          5.4           2.3  Iris-virginica
5.9           3.0          5.1           1.8  Iris-virginica

[150 rows x 4 columns]

In [52]:
df = pd.read_csv('iris.data', names = ["sepal length", "sepal width", "petal length", "petal width"],index_col =0)

In [53]:
df

     sepal length  sepal width  petal length     petal width
5.1           3.5          1.4           0.2     Iris-setosa
4.9           3.0          1.4           0.2     Iris-setosa
4.7           3.2          1.3           0.2     Iris-setosa
4.6           3.1          1.5           0.2     Iris-setosa
5.0           3.6          1.4           0.2     Iris-setosa
..            ...          ...           ...             ...
6.7           3.0          5.2           2.3  Iris-virginica
6.3           2.5          5.0           1.9  Iris-virginica
6.5           3.0          5.2           2.0  Iris-virginica
6.2           3.4          5.4           2.3  Iris-virginica
5.9           3.0          5.1           1.8  Iris-virginica

[150 rows x 4 columns]

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 5.1 to 5.9
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    object
dtypes: float64(3), object(1)
memory usage: 5.9+ KB

In [55]:
df_des = df.describe()
df_des

       sepal length  sepal width  petal length
count    150.000000   150.000000    150.000000
mean       3.054000     3.758667      1.198667
std        0.433594     1.764420      0.763161
min        2.000000     1.000000      0.100000
25%        2.800000     1.600000      0.300000
50%        3.000000     4.350000      1.300000
75%        3.300000     5.100000      1.800000
max        4.400000     6.900000      2.500000

In [56]:
df_des.loc['count']

sepal length    150.0
sepal width     150.0
petal length    150.0
Name: count, dtype: float64

In [57]:
df_des.iloc[0] , df_des.iloc[7]

(sepal length    150.0
 sepal width     150.0
 petal length    150.0
 Name: count, dtype: float64,
 sepal length    4.4
 sepal width     6.9
 petal length    2.5
 Name: max, dtype: float64)

In [58]:
features = df.iloc[ :, :4]
features

     sepal length  sepal width  petal length     petal width
5.1           3.5          1.4           0.2     Iris-setosa
4.9           3.0          1.4           0.2     Iris-setosa
4.7           3.2          1.3           0.2     Iris-setosa
4.6           3.1          1.5           0.2     Iris-setosa
5.0           3.6          1.4           0.2     Iris-setosa
..            ...          ...           ...             ...
6.7           3.0          5.2           2.3  Iris-virginica
6.3           2.5          5.0           1.9  Iris-virginica
6.5           3.0          5.2           2.0  Iris-virginica
6.2           3.4          5.4           2.3  Iris-virginica
5.9           3.0          5.1           1.8  Iris-virginica

[150 rows x 4 columns]

In [59]:
df.head(10)

     sepal length  sepal width  petal length  petal width
5.1           3.5          1.4           0.2  Iris-setosa
4.9           3.0          1.4           0.2  Iris-setosa
4.7           3.2          1.3           0.2  Iris-setosa
4.6           3.1          1.5           0.2  Iris-setosa
5.0           3.6          1.4           0.2  Iris-setosa
5.4           3.9          1.7           0.4  Iris-setosa
4.6           3.4          1.4           0.3  Iris-setosa
5.0           3.4          1.5           0.2  Iris-setosa
4.4           2.9          1.4           0.2  Iris-setosa
4.9           3.1          1.5           0.1  Iris-setosa