In [1]:
print(" hello world")

 hello world

# genai

In [4]:
for i in range (10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for row in range(5):
    print(f' {row=}')

	 row=0
	 row=1
	 row=2
	 row=3
	 row=4

In [8]:
for row in range(5):
    print(f'{row=}')
    for col in range (5-row):
        print(f'\t{col=}')

row=0
	col=0
	col=1
	col=2
	col=3
	col=4
row=1
	col=0
	col=1
	col=2
	col=3
row=2
	col=0
	col=1
	col=2
row=3
	col=0
	col=1
row=4
	col=0

In [9]:
for row in range(5):
    print(f'{row=}')
    for col in range (5-row):
        #print(f'\t{col=}')
        print(col)

row=0
0
1
2
3
4
row=1
0
1
2
3
row=2
0
1
2
row=3
0
1
row=4
0

In [11]:
for row in range(5):
    print(f'{row=}')
    for col in range (5-row):
        #print(f'\t{col=}')
        print(chr(col+65))

row=0
A
B
C
D
E
row=1
A
B
C
D
row=2
A
B
C
row=3
A
B
row=4
A

In [14]:
for row in range(5):
    print(f'{row=}')
    for col in range (5-row):
        #print(f'\t{col=}')
        print(chr(col+65) , end = '\t')

row=0
A	B	C	D	E	row=1
A	B	C	D	row=2
A	B	C	row=3
A	B	row=4
A

In [15]:
for row in range(5):
    #print(f'{row=}')
    for col in range (5-row):
        #print(f'\t{col=}')
        print(chr(col+65) , end = '\t')

A	B	C	D	E	A	B	C	D	A	B	C	A	B	A

In [16]:
for row in range(5):
    #print(f'{row=}')
    for col in range (5-row):
        #print(f'\t{col=}')
        print(chr(col+65) , end = '\t')
    print("")

A	B	C	D	E
A	B	C	D
A	B	C
A	B
A

In [33]:
for row in range(5):
    #print(f'{row=}')
    for col in range (5-row):
        #print(f'\t{col=}')
        print(chr(col+65) , end = '')
        

   
        for col in range(2*row+1):
            print('*',end = '')
       


        for col in range (5-row):
        #print(f'\t{col=}')
            print(chr(65+4-row-col) , end = '')
        print("")

A*EDCBA
B*EDCBA
C*EDCBA
D*EDCBA
E*EDCBA
A***DCBA
B***DCBA
C***DCBA
D***DCBA
A*****CBA
B*****CBA
C*****CBA
A*******BA
B*******BA
A*********A

In [34]:
for row in range(5):
    
    #print(f'{row=}')
    for col in range (5-row):
        if col == 1:
            continue
        #print(f'\t{col=}')
        print(chr(col+65) , end = '')
        

   
        for col in range(2*row+1):
            print('*',end = '')
       


        for col in range (5-row):
        #print(f'\t{col=}')
            print(chr(65+4-row-col) , end = '')
        print("")

A*EDCBA
C*EDCBA
D*EDCBA
E*EDCBA
A***DCBA
C***DCBA
D***DCBA
A*****CBA
C*****CBA
A*******BA
A*********A

In [19]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [27]:
for row in range(5):
    for col in range(2*row+1):
        print('*',end = '\t')
    print()

*
*	*	*
*	*	*	*	*
*	*	*	*	*	*	*
*	*	*	*	*	*	*	*	*

In [38]:
for row in range(5):
    for col in range(5-row):
        if col ==4:
            continue
        print(chr(col+65), end="")
    for col in range(2*row+1):
        print('*',end='')
    for col in range (5-row):
        #print(f'\t{col=}')
        print(chr(65+4-row-col) , end = '')
    print("")

ABCD*EDCBA
ABCD***DCBA
ABC*****CBA
AB*******BA
A*********A

In [8]:
def hello(name):
    return(f'hello  {name}')

In [9]:
fname =hello("ardhendu")

In [10]:
fname

'hello  ardhendu'

In [12]:
def gen_fun(n):
    for i in range(n):
        yield i

In [13]:
type (gen_fun)

function

In [14]:
gen_fun

In [15]:
a = gen_fun(5)

In [16]:
a

In [17]:
next(a)

0

In [18]:
next(a)

1

In [19]:
a.__next__()

2

In [20]:
a.__next__()

3

In [23]:
def gen_fun(n):
    for i in range(n):
        yield i
        yield i
    yield i

In [24]:
b = gen_fun(5)

In [25]:
b

In [26]:
next(b)

0

In [27]:
next(b)

0

In [28]:
next(b)

1

In [29]:
next(b)

1

In [30]:
next(b)

2

#machine learning with python